.addProduct-h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}