.filter-panal {
    height: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
}

.filter-panal .box {
    height: 30em;
    width: 20em;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.displayNone {
    display: none;
}