header {
    background-color: #f1f1f1;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header span {
    
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 4px;
    cursor: pointer;
  }
  
  header span.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  header span:hover {
    background-color: #ddd;
    color: black;
  }
  
  header span.active {
    background-color: dodgerblue;
    color: white;
  }
  @media (max-width: 500px) {
    header{
      flex-direction: column;
    }
  }