.table {
    background: #f8f8f8;
    width: 18em;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2em;
    text-decoration:  none;
    margin: auto;
}

.table h3 {
    color: #fff;
    background-color: black;
    padding: 1em;
    border-radius: 2em;
    text-align: center;
}

.table img {
    width: 100%;
    height: 15em;
}

.table .price {
    font-size: 19px;
    font-weight: bolder;
    color: #5882c3;
}

.table p {
    font-size: 18px;
}

.rating {
    color: green;
}