.noteworthy {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
}

.noteworthy .table-holder {
    display: flex;
    justify-content: center;
    column-gap: 2em;
    margin-top: 2em;
    flex-wrap: wrap;
    row-gap: 2em;
    /* z-index: -1; */
}

.noteworthy .table-holder .table {
    background: #f8f8f8;
    width: 18em;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2em;
    text-decoration:  none;
}

.noteworthy .table-holder .table h3 {
    color: #fff;
    background-color: black;
    padding: 1em;
    border-radius: 2em;
    text-align: center;
}

.noteworthy .table-holder .table img {
    width: 100%;
    height: 15em;
}

.noteworthy .table-holder .table .price {
    font-size: 19px;
    font-weight: bolder;
    color: #5882c3;
}

.noteworthy .table-holder .table div {
    overflow: auto;
    height: 10em;
}

.noteworthy .table-holder .table p {
    font-size: 18px;
}

.rating {
    color: green;
}